<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About | Bros Philosophy Club</title>
  </head>

  <body>
    <h2>About the Bros Philosophy Club</h2>

    <h3>Why</h3>

    <em>We believe that society needs more courteous discourse especially when we disagree.</em>

    <h3>How</h3>

    <p>The Bros Philosophy Club is a place for bros to talk philosophy over beers or cocktails or whatever. The point is to have fun through engaging and enriching debates fueled by our massive and impressive intellects and, naturally, alcohol.</p>

    <h3>What</h3>

    <h4>Club Rules</h4>

    <p>Mainly, HAVE FUN AND MAKE FRIENDS!!!</p>

    <ol type ="1">
      <li><strong>Get out of your comfort zone!</strong> Be open to ideas that seem odd, make you uncomfortable or that you disagree with. Doesn't mean you have to like it or adopt it.</li>
      <li><strong>Demonstrate courtesy!</strong> Be respectful of everyone in the group and their unique background, experiences, and education. All these elements and more combine to create filters or lenses through which we interpret the world and rarely will two people have the same filters set up in the same way. ("...every man I meet is my superior in some way, and in that, I learn from him. - Emerson)</li>
      <li><strong>Listen up! Be an active, attentive listener.</strong> If you must interrupt, do it like a gentleman. No talking over anyone else. ("Seek first to understand, then to be understood." - Steven Covey)</li>
      <li><strong>Attack positions, not people!</strong> It's ok to attack another Bro's position on an issue, even vigorously, but do not attack them personally. See Rule #2 for more on this.</li>
      <li><strong>Seek to respond thoughtfully!</strong> Don’t react emotionally. Allow for some time-space between what you heard or think you want to say and how you want to respond.</li>
    </ol>

    <h4>Format - 2 hr. Session</h4>
    <p>20 - 30 minutes, shoot the shit</p>
    <p>2 minutes, intro the topic</p>
    <p>10 - 15 minutes, opening statements/arguments</p>
    <p>60 - 70 minutes, discussion/debate</p>
    <p>10 - 15 minutes, closing statements/arguments</p>

  </body>
</html>
